
 
 #container{
   display: flex;
 }
 #sidebar{
   flex:3;
   border:2px solid red;
 }
 #main{
   /* display: grid;
   grid-template-columns: repeat(2,10%); */
   grid-gap:10px;
   flex:7;
   border:3px solid black;
 }
 #main>div{
   border:2px solid red;
 }